# Entornos virtuales
env_screening/
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos con secretos y variables de entorno
.env
*.env

# Documentos PDF (Ej: Currículums con datos confidenciales)
*.pdf

# Archivos de sistema operativo
.DS_Store
Thumbs.db
.env 
